<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- main -->
<div class="grid-container margin-top-xl">
  <div class="grid-row">
    <!-- menu -->
    <ng-include src="'views/inc_sidebar.html'"></ng-include>
    <!-- content -->
    <div class="grid-md-9 grid-xs-12">
      <div class="bg-white box-shadow padding-top-md padding-right-xl padding-bottom-md padding-left-xl">
        <div class="grid-row">
          <div class="grid-xs-12">
            <h2 class="text-lg text-default clear-margin">Início</h2>
          </div>
        </div>
        <div class="grid-row margin-top-xl">
          <div class="grid-md-4 grid-sm-6 grid-xs-12 align-center margin-bottom-lg">
            <div class="bd-xs bd-solid bd-gray bd-radius-lg padding-sm">
              <a href="/meus-presentes"><img src="/img/icon-presents.png" alt="Lista de presentes" class="img margin-top-sm"></a>
              <p class="text-sm text-default hidden-xs">Vocês ganharam</p>
              <p class="text-xl text-primary">{{eventGifts}}</p>
              <p class="text-sm text-default hidden-xs">presentes até o momento</p>
            </div>
          </div>
          <div class="grid-md-4 grid-sm-6 grid-xs-12 align-center margin-bottom-lg">
            <div class="bd-xs bd-solid bd-gray bd-radius-lg padding-sm">
              <a href="/meus-presentes"><img src="/img/icon-donation.png" alt="Vaquinha virtual" class="img margin-top-sm"></a>
              <p class="text-sm text-default hidden-xs">Vocês possuem</p>
              <p class="text-xl text-primary">{{eventDonations}}</p>
              <p class="text-sm text-default hidden-xs">de doações na vaquinha</p>
            </div>
          </div>
          <div class="grid-md-4 grid-sm-6 grid-xs-12 align-center margin-bottom-lg">
            <div class="bd-xs bd-solid bd-gray bd-radius-lg padding-sm">
              <a href="/meus-presentes"><img src="/img/icon-confirmation.png" alt="Confirmação de presença" class="img margin-top-sm margin-bottom-md"></a>
              <p class="text-sm text-default hidden-xs">Vocês tiveram</p>
              <p class="text-xl text-primary">{{eventConfirmations}}</p>
              <p class="text-sm text-default hidden-xs">confirmações de presença</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
