@import 'variables';
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.clear-decoration {
  text-decoration: none;
}

.field {
  outline: none;
}

.alert.success {
  background-color: $color-green !important;
}

.alert.error {
  background-color: $color-light !important;
}

.cursor-disabled {
  cursor: not-allowed;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
}

.vaquinha {
  background: url('/img/vaquinha.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-header {
  display: block;
  text-align: center;
  margin: 20px 0 10px 0;
}

.banner-home {
  background: url('/img/home-bg.jpg') no-repeat center 0;
  background-size: cover;
  .banner-home-content {
    height: 780px;
    padding-top: 300px;
  }
}

.icon-heart-xl {
  font-size: 12em;
}

.slug {
  word-break: break-word;
}

.radio-buttom-check {
  input[type=radio]:checked + span {
    display: block !important;
  }
  input[type=radio] + span + img {
    border: $color-white $border-lg solid;
  }
  input[type=radio]:checked + span + img {
    border: $color-primary $border-lg solid;
  }
}

@media (max-width: 768px) {
  #banner {
    padding: 0;
    .grid-container {
      padding: 0;
    }
    .grid-row {
      margin: 0;
    }
    .grid-xs-12 {
      padding: 0;
    }
    .shadow-banner {
      position: relative;
      margin: 0;
      background: none;
      h1 {
        padding: 0;
        color: $color-secondary !important;
      }
    }
  }
}

@media (min-width: 769px) {
  .user-header {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// ----- loader ----- //
@mixin animation($name) {
  animation: $name 2.5s cubic-bezier(0.750, 0.000, 0.500, 1.000) infinite normal;
}

@mixin love {
  width: 1em;
  height: 1em;
  border: 1px solid $color-primary;
  background-color: $color-primary;
}

.loader {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-100%, -240%);
  font-size: 64px;
  .heart {
    @include animation(heart);
    top: 50%;
    content: '';
    left: 50%;
    position: absolute;
  }
  .heartL {
    @include animation(heartL);
    @include love;
    content: '';
    position: absolute;
    display: block;
    transform: translate(-29px, -28px);
    border-radius: 100%;
  }
  .heartR {
    @include animation(heartR);
    @include love;
    content: '';
    position: absolute;
    display: block;
    transform: translate(29px, -28px);
    border-radius: 100%;
  }
  .square {
    @include animation(square);
    @include love;
    transform: scale(1) rotate(-45deg);
    position: relative;
    display: block;
    content: '';
  }
  .shadow {
    @include animation(shadow);
    top: 100px;
    left: 50%;
    content: '';
    position: relative;
    display: block;
    bottom: -.5em;
    width: 1em;
    height: .25em;
    border-radius: 50%;
    background-color: darken($color-white, 15%);
    border: 1px solid darken($color-white, 15%);
  }
}

.load-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
  opacity: 0.9;
}

@keyframes square {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

@keyframes heart {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes heartL {
  60% {
    transform: scale(0.4);
  }
}

@keyframes heartR {
  40% {
    transform: scale(0.4);
  }
}

@keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: darken($color-white, 10%);
  }
}
