html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.clear-decoration {
  text-decoration: none;
}

.field {
  outline: none;
}

.alert.success {
  background-color: #2ecc71 !important;
}

.alert.error {
  background-color: #FFBEB9 !important;
}

.cursor-disabled {
  cursor: not-allowed;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.vaquinha {
  background: url("/img/vaquinha.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-header {
  display: block;
  text-align: center;
  margin: 25px 15px 10px 0;
}

.banner-home {
  background: url("/img/home-bg.jpg") no-repeat center 0;
  background-size: cover;
}

.banner-home .banner-home-content {
  height: 780px;
  padding-top: 300px;
}

.icon-heart-xl {
  font-size: 12em;
}

.slug {
  word-break: break-word;
}

.radio-buttom-check input[type=radio]:checked + span {
  display: block !important;
}

.radio-buttom-check input[type=radio] + span + img {
  border: #FFFFFF 5px solid;
}

.radio-buttom-check input[type=radio]:checked + span + img {
  border: #FF564A 5px solid;
}

@media (max-width: 768px) {
  #banner {
    padding: 0;
  }
  #banner .grid-container {
    padding: 0;
  }
  #banner .grid-row {
    margin: 0;
  }
  #banner .grid-xs-12 {
    padding: 0;
  }
  #banner .shadow-banner {
    position: relative;
    margin: 0;
    background: none;
  }
  #banner .shadow-banner h1 {
    padding: 0;
    color: #C74A50 !important;
  }
}

@media (min-width: 769px) {
  .user-header {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.loader {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-100%, -240%);
  font-size: 64px;
}

.loader .heart {
  animation: heart 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  top: 50%;
  content: '';
  left: 50%;
  position: absolute;
}

.loader .heartL {
  animation: heartL 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #FF564A;
  background-color: #FF564A;
  content: '';
  position: absolute;
  display: block;
  transform: translate(-29px, -28px);
  border-radius: 100%;
}

.loader .heartR {
  animation: heartR 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #FF564A;
  background-color: #FF564A;
  content: '';
  position: absolute;
  display: block;
  transform: translate(29px, -28px);
  border-radius: 100%;
}

.loader .square {
  animation: square 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #FF564A;
  background-color: #FF564A;
  transform: scale(1) rotate(-45deg);
  position: relative;
  display: block;
  content: '';
}

.loader .shadow {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  top: 100px;
  left: 50%;
  content: '';
  position: relative;
  display: block;
  bottom: -.5em;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

.load-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 0.9;
}

@keyframes square {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

@keyframes heart {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes heartL {
  60% {
    transform: scale(0.4);
  }
}

@keyframes heartR {
  40% {
    transform: scale(0.4);
  }
}

@keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: #e6e6e6;
  }
}

.popeye-modal-container {
  background-color: rgba(0,0,0,0.7);
}

.popeye-modal-container .popeye-modal a.popeye-close-modal{
  z-index: 1;
}

.popeye-modal-container .popeye-modal a.popeye-close-modal:after{
  font-size: 32px;
  color: #666;
}